body {
  padding-top: 0x;
}
.main-title {
  padding: 40px 15px;
  text-align: center;
}

/*  CONTENT 
-------------------------------------------------- */

/* Center align the text within the three columns */
 .col-lg-4 {
  margin-bottom: 40px;
  padding: 40px;
  text-align: center;
}
#fav-things h2 {
  font-weight: normal;
}

@media (min-width: @screen-sm-min) {
	
}